@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9902 0.0034 325.6023);
  --foreground: oklch(0.293 0.017 305.4471);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.293 0.017 305.4471);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.293 0.017 305.4471);
  --primary: oklch(0.8824 0.0652 296.7389);
  --primary-foreground: oklch(0.3859 0.075 299.6462);
  --secondary: oklch(0.9618 0.0202 295.1913);
  --secondary-foreground: oklch(0.3859 0.075 299.6462);
  --muted: oklch(0.9792 0.0106 291.9569);
  --muted-foreground: oklch(0.5728 0.0371 296.6633);
  --accent: oklch(0.9618 0.0202 295.1913);
  --accent-foreground: oklch(0.3859 0.075 299.6462);
  --destructive: oklch(44.432% 0.16916 27.689);
  --destructive-foreground: oklch(0.8403 0.0891 13.066);
  --border: oklch(0.9314 0.0293 303.0703);
  --input: oklch(0.9314 0.0293 303.0703);
  --ring: oklch(0.8824 0.0652 296.7389);
  --chart-1: oklch(0.8824 0.0652 296.7389);
  --chart-2: oklch(0.8917 0.0582 241.4136);
  --chart-3: oklch(0.9402 0.1002 150.8189);
  --chart-4: oklch(0.9839 0.0872 107.9014);
  --chart-5: oklch(0.921 0.06 71.0262);
  --radius: 0.125rem;
  --sidebar: oklch(0.9902 0.0034 325.6023);
  --sidebar-foreground: oklch(0.3859 0.075 299.6462);
  --sidebar-primary: oklch(0.8824 0.0652 296.7389);
  --sidebar-primary-foreground: oklch(0.3859 0.075 299.6462);
  --sidebar-accent: oklch(0.9618 0.0202 295.1913);
  --sidebar-accent-foreground: oklch(0.3859 0.075 299.6462);
  --sidebar-border: oklch(0.9314 0.0293 303.0703);
  --sidebar-ring: oklch(0.8824 0.0652 296.7389);
  --font-sans: JetBrains Mono, monospace;
  --font-serif: JetBrains Mono, monospace;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: #dcd0ff;
  --shadow-opacity: 0.2;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --letter-spacing: -0.02em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 1px 4px 0px hsl(255.3191 100% 90.7843% / 0.1);
  --shadow-xs: 0px 1px 4px 0px hsl(255.3191 100% 90.7843% / 0.1);
  --shadow-sm:
    0px 1px 4px 0px hsl(255.3191 100% 90.7843% / 0.2),
    0px 1px 2px -1px hsl(255.3191 100% 90.7843% / 0.2);
  --shadow:
    0px 1px 4px 0px hsl(255.3191 100% 90.7843% / 0.2),
    0px 1px 2px -1px hsl(255.3191 100% 90.7843% / 0.2);
  --shadow-md:
    0px 1px 4px 0px hsl(255.3191 100% 90.7843% / 0.2),
    0px 2px 4px -1px hsl(255.3191 100% 90.7843% / 0.2);
  --shadow-lg:
    0px 1px 4px 0px hsl(255.3191 100% 90.7843% / 0.2),
    0px 4px 6px -1px hsl(255.3191 100% 90.7843% / 0.2);
  --shadow-xl:
    0px 1px 4px 0px hsl(255.3191 100% 90.7843% / 0.2),
    0px 8px 10px -1px hsl(255.3191 100% 90.7843% / 0.2);
  --shadow-2xl: 0px 1px 4px 0px hsl(255.3191 100% 90.7843% / 0.5);
  --tracking-normal: -0.02em;
}

.dark {
  --background: oklch(0.1834 0.0144 298.045);
  --foreground: oklch(0.9622 0.0086 308.3618);
  --card: oklch(0.2128 0.0199 298.4396);
  --card-foreground: oklch(0.9622 0.0086 308.3618);
  --popover: oklch(0.2128 0.0199 298.4396);
  --popover-foreground: oklch(0.9622 0.0086 308.3618);
  --primary: oklch(0.8824 0.0652 296.7389);
  --primary-foreground: oklch(0.2128 0.0199 298.4396);
  --secondary: oklch(0.2879 0.035 298.6718);
  --secondary-foreground: oklch(0.9622 0.0086 308.3618);
  --muted: oklch(0.2879 0.035 298.6718);
  --muted-foreground: oklch(0.7125 0.0264 298.4169);
  --accent: oklch(0.2879 0.035 298.6718);
  --accent-foreground: oklch(0.9622 0.0086 308.3618);
  --destructive: oklch(0.8403 0.0891 13.066);
  --destructive-foreground: oklch(0.3564 0.0718 17.5745);
  --border: oklch(0.2879 0.035 298.6718);
  --input: oklch(0.2879 0.035 298.6718);
  --ring: oklch(0.8824 0.0652 296.7389);
  --chart-1: oklch(0.8824 0.0652 296.7389);
  --chart-2: oklch(0.8917 0.0582 241.4136);
  --chart-3: oklch(0.9402 0.1002 150.8189);
  --chart-4: oklch(0.9839 0.0872 107.9014);
  --chart-5: oklch(0.921 0.06 71.0262);
  --sidebar: oklch(0.1834 0.0144 298.045);
  --sidebar-foreground: oklch(0.7125 0.0264 298.4169);
  --sidebar-primary: oklch(0.8824 0.0652 296.7389);
  --sidebar-primary-foreground: oklch(0.2128 0.0199 298.4396);
  --sidebar-accent: oklch(0.2879 0.035 298.6718);
  --sidebar-accent-foreground: oklch(0.9622 0.0086 308.3618);
  --sidebar-border: oklch(0.2879 0.035 298.6718);
  --sidebar-ring: oklch(0.8824 0.0652 296.7389);
  --radius: 0.125rem;
  --font-sans: JetBrains Mono, monospace;
  --font-serif: JetBrains Mono, monospace;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.4;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: -0.02em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm:
    0px 4px 12px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow:
    0px 4px 12px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md:
    0px 4px 12px 0px hsl(0 0% 0% / 0.4), 0px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg:
    0px 4px 12px 0px hsl(0 0% 0% / 0.4), 0px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl:
    0px 4px 12px 0px hsl(0 0% 0% / 0.4), 0px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 4px 12px 0px hsl(0 0% 0% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: JetBrains Mono, monospace;
  --font-mono: JetBrains Mono, monospace;
  --font-serif: JetBrains Mono, monospace;
  --radius: 0.125rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
